# Database
DATABASE_URL="postgresql://neondb_owner:npg_Lc5alqxwd9BV@ep-wandering-voice-adq61cyw-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Better-Auth
BETTER_AUTH_SECRET="generate-with-openssl-rand-base64-32"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Backblaze B2
B2_APPLICATION_KEY_ID="003dc8d882eef040000000003"
B2_APPLICATION_KEY="K003k0uFW+wG/lkj+1lYbNPcLa3spw4"
B2_BUCKET_NAME="pawstudio"
B2_BUCKET_ID="dc8d882eef04027cf5470d14"

# Google Gemini AI
GEMINI_API_KEY="your-gemini-api-key"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_xxx"
STRIPE_SECRET_KEY="sk_test_xxx"
